body {
  padding: 0;
  margin: 0px 0px 0px 0px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wayup {
  width: 100%;
  background-color: #000;
  min-height: 100vh;
}

.wayup__container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 8px 0 0 8px;
  min-height: 100vh;
}

.wayup a {
  color: #0041f5;
}

.wayup__logo {
  max-width: 150px;
}

.wayup__logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wayup__h1 {
  color: red;
}

.wayup__p-1 {
  background-color: #2a00e4;
  color: #fff;
  max-width: 100px;
  margin: 0px 0px 100px 0px;
}

.wayup__p-2 span {
  color: red;
}

.wayup__h2 {
  background-color: green;
  color: #fff;
  padding: 5px 0 5px 8px;
}

.wayup__h2.two {
  padding: 40px 0 40px 40px;
}

.wayup__p-3 {
  text-align: center;
  max-width: 40%;
}

.wayup__li {
  border: 1px solid #000;
  font-size: 30px;
}